<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,minimal-ui,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script src="/static/t/common/js/jquery.min.js"></script>
    <script>
  $(function () {
  var lessThenIE10 = function () {
  var UA = navigator.userAgent,
  isIE = UA.indexOf('MSIE') > -1,
  v = isIE ? /\d+/.exec(UA.split(';')[1]) : 'no ie';
  return v < 10;
            }();

            if(lessThenIE10){
                window.location.href="less/";
            }
        })

    </script>
    <link href="/static/t/common/css/common.css" rel="stylesheet" type="text/css">
    <link href="/static/t/common/css/layout.css" rel="stylesheet" type="text/css">
    <title>XXX</title>
    <meta name="description" content="XXX"/>
    <meta name="keywords" content="XXX"/>
</head>
<body>
<!--{头部导航begin -->

<div class="header">
    <div class="commonweb clearfix">
        <h1 class="logo">
            <a href="/">
                <img src="/static/t/webimages/logo.png">
            </a>
        </h1>
        <div class="weixin">
            <a href="javascript:;" class="weiinco"></a>
            <p class="weixinCon">
                <span class="arror"></span>
                <img src="/static/t/webimages/windex_img02.jpg">
            </p>
        </div>

        <div class="nav">
            <ul class="clearfix">
                <li>
                    <h3>
                        <a href="/">首页</a>
                    </h3>
                    <div class="subMenu">
                        <div class="subContent commonweb">
                            <div class="subRight col-md-3 commonleft">


                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>
                        <a href="javascript:;">产品示例</a>
                        <em></em>
                    </h3>
                    <div class="subMenu">
                        <div class="subContent commonweb">

                            <dl class="idnexCompany col-md-9 visible-md clearfix">
                                <dt>
                                    <a href="javascript:;">
                                        <img src="/static/upload/solution/2016092711575257.jpg" alt="XXX电线"
                                             title="XXX电线">
                                    </a>
                                </dt>
                            </dl>

                            <div class="subRight col-md-3 commonleft">

                                <a href="/product/1">加固手持机</a>

                                <a href="/product/2">加固平板电脑</a>

                                <a href="/product/3">加固笔记本</a>

                                <a href="/product/4">防爆平板</a>

                                <a href="/product/5">其他</a>

                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>
                        <a href="/custom_made">定制研发</a>
                        <em></em>
                    </h3>
                    <div class="subMenu">
                        <div class="subContent commonweb">

                            <dl class="idnexCompany col-md-9 visible-md clearfix">
                                <dt>
                                    <a href="javascript:;">
                                        <img src="/static/upload/solution/2016092711575328.jpg" alt="XXX电线工业（惠州）有限公司"
                                             title="XXX电线工业（惠州）有限公司">
                                    </a>
                                </dt>
                                <dd>
                                    <h5 class="indexCtitle">XXX电线工业（惠州）有限公司</h5>
                                    <p>XXX集团（以下简称：“XXX”或“集团”）创建于1981年，为全球首家取得 UL RoHS 绿色认证的电缆生产商,
                                        专业从事线材产品制造和销售，生产线材种类繁多，当中包括电器配线、无卤电线、高速平行对线、同轴线、电源线、新能源电线等。</p>
                                </dd>
                            </dl>

                            <div class="subRight col-md-3 commonleft">

                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>
                        <a href="/success_case">成功案例</a>
                    </h3>
                    <div class="subMenu">
                        <div class="subContent commonweb">

                            <dl class="idnexCompany col-md-9 visible-md clearfix">
                                <dt>
                                    <a href="javascript:;">
                                        <img src="/static/upload/solution/2016092711575401.jpg" alt="XXX电线工业（惠州）有限公司"
                                             title="XXX电线工业（惠州）有限公司">
                                    </a>
                                </dt>
                                <dd>
                                    <h5 class="indexCtitle">XXX电线工业（惠州）有限公司</h5>
                                    <p>XXX集团（以下简称：“XXX”或“集团”）创建于1981年，为全球首家取得 UL RoHS 绿色认证的电缆生产商,
                                        专业从事线材产品制造和销售，生产线材种类繁多，当中包括电器配线、无卤电线、高速平行对线、同轴线、电源线、新能源电线等。</p>
                                </dd>
                            </dl>

                            <div class="subRight col-md-3 commonleft">
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <h3>
                        <a href="javascript:;">服务与支持</a>
                        <em></em>
                    </h3>
                    <div class="subMenu">
                        <div class="subContent commonweb">

                            <dl class="idnexCompany col-md-9 visible-md clearfix">
                                <dt>
                                    <a href="javascript:;">
                                        <img src="/static/upload/solution/2016092711575318.jpg" alt="XXX电线工业（惠州）有限公司"
                                             title="XXX电线工业（惠州）有限公司">
                                    </a>
                                </dt>
                                <dd>
                                    <h5 class="indexCtitle">XXX电线工业（惠州）有限公司</h5>
                                    <p>XXX集团（以下简称：“XXX”或“集团”）创建于1981年，为全球首家取得 UL RoHS 绿色认证的电缆生产商,
                                        专业从事线材产品制造和销售，生产线材种类繁多，当中包括电器配线、无卤电线、高速平行对线、同轴线、电源线、新能源电线等。</p>
                                </dd>
                            </dl>

                            <div class="subRight col-md-3 commonleft">
                                <a href="/support">产品支持</a>

                                <a href="/download">软件下载</a>

                                <a href="/aft_sale">售后服务</a>

                                <a href="/problems">常见问题</a>

                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>
                        <a href="javascript:;">关于我们</a>
                        <em></em>
                    </h3>
                    <div class="subMenu">
                        <div class="subContent commonweb">

                            <dl class="idnexCompany col-md-9 visible-md clearfix">
                                <dt>
                                    <a href="javascript:;">
                                        <img src="/static/upload/solution/2016092711575318.jpg" alt="XXX电线工业（惠州）有限公司"
                                             title="XXX电线工业（惠州）有限公司">
                                    </a>
                                </dt>
                                <dd>
                                    <h5 class="indexCtitle">XXX电线工业（惠州）有限公司</h5>
                                    <p>XXX集团（以下简称：“XXX”或“集团”）创建于1981年，为全球首家取得 UL RoHS 绿色认证的电缆生产商,
                                        专业从事线材产品制造和销售，生产线材种类繁多，当中包括电器配线、无卤电线、高速平行对线、同轴线、电源线、新能源电线等。</p>
                                </dd>
                            </dl>

                            <div class="subRight col-md-3 commonleft">
                                <a href="/profile">公司简介</a>

                                <a href="/contact">联系我们</a>

                                <a href="/clients">合作客户</a>

                                <a href="/feedback">在线留言</a>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--移动端按钮-->
        <div class="navBtn dm-hidden">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="navBg"></div>
        <div class="weixinBg"></div>
    </div>
</div>
<div class="height"></div>
{% block content %}

{% endblock %}
<!--页脚begin-->

<div class="footer">
    <div class="footerbottom commonweb clearfix">
        <p class="footerbottomL">服务热线：XXX</p>
        <p class="footerbottomR">
            Copyright © 2016 XXX电线工业（惠州）有限公司 版权所有 |
        </p>
    </div>
</div>
<!--页脚end-->

<script src="/static/t/common/js/layout.js"></script>

</body>
<script src="/static/t/common/js/jquery.min.js"></script>
<script src="/static/t/common/js/swiper.js"></script>
<script src="/static/t/common/js/layout.js"></script>
<script src="/static/t/common/js/TouchSlide.1.1.js"></script>
<script type="text/javascript">
    TouchSlide({
        slideCell: "#focus",
        titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell: ".bd ul",
        effect: "left",
        delayTime: 1000,
        autoPlay: true,//自动播放
        autoPage: true, //自动分页
        switchLoad: "_src" //切换加载，真实图片路径为"_src"
    })
    function indexright() {
        $(window).bind("scroll", function () {
            if (flag == 1) {
                var shownowpostioninfo = $(window).scrollTop();
                var shownext = 200;
                if (shownowpostioninfo < $("body .scroll:eq(1)").offset().top - shownext) {
                    showindexpostion = 0;
                } else if (shownowpostioninfo >= $("body .scroll:eq(1)").offset().top - shownext && shownowpostioninfo < $("body .scroll:eq(2)").offset().top - shownext) {
                    showindexpostion = 1;
                } else if (shownowpostioninfo >= $("body .scroll:eq(2)").offset().top - shownext && shownowpostioninfo < $("body .scroll:eq(3)").offset().top - shownext) {
                    showindexpostion = 2;
                }
                else {
                    showindexpostion = 3;
                }
                $(".rightFixed ul li.li1").eq(showindexpostion).addClass("cur").siblings().removeClass("cur");
            }
        });
        //定义当前的位置
        var showindexpostion = 0;
        //得到总页数
        //var showindexlength=$(".scroll_btn a").length;
        //鼠标滚动

        //标志
        var flag = 1;
    }

    $(function () {
        indexright();
    })

    var swiper1 = new Swiper('.swiper-container', {
        pagination: '.wbannerbtn01',
        paginationClickable: true,
        slidesPerView: 4,
        spaceBetween: 30,
        breakpoints: {
            1024: {
                slidesPerView: 4,
                spaceBetween: 30,
            },
            991: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            640: {
                slidesPerView: 1,
                spaceBetween: 0,
            },
            320: {
                slidesPerView: 1,
                spaceBetween: 0,
            }
        }
    });


    var swiper2 = new Swiper('.swiper-container2', {
        pagination: '.wbannerbtn02',
        paginationClickable: true,
        slidesPerView: 4,
        spaceBetween: 30,
        breakpoints: {
            1024: {
                slidesPerView: 4,
                spaceBetween: 30,
            },
            991: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            640: {
                slidesPerView: 1,
                spaceBetween: 0,
            },
            320: {
                slidesPerView: 1,
                spaceBetween: 0,
            }
        }
    });

    var swiper3 = new Swiper('.swiper-container3', {
        pagination: '.wbannerbtn03',
        paginationClickable: true,
        slidesPerView: 4,
        spaceBetween: 30,
        breakpoints: {
            1024: {
                slidesPerView: 4,
                spaceBetween: 30,
            },
            991: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            640: {
                slidesPerView: 1,
                spaceBetween: 0,
            },
            320: {
                slidesPerView: 1,
                spaceBetween: 0,
            }
        }
    });
    var swiper4 = new Swiper('.swiper-container4', {
        pagination: '.wbannerbtn04',
        paginationClickable: true,
        slidesPerView: 4,
        spaceBetween: 30,
        breakpoints: {
            1024: {
                slidesPerView: 4,
                spaceBetween: 30,
            },
            991: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            640: {
                slidesPerView: 1,
                spaceBetween: 0,
            },
            320: {
                slidesPerView: 1,
                spaceBetween: 0,
            }
        }
    });
    var swiper5 = new Swiper('.swiper-container5', {
        pagination: '.wbannerbtn05',
        paginationClickable: true,
        slidesPerView: 4,
        spaceBetween: 30,
        breakpoints: {
            1024: {
                slidesPerView: 4,
                spaceBetween: 30,
            },
            991: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            640: {
                slidesPerView: 1,
                spaceBetween: 0,
            },
            320: {
                slidesPerView: 1,
                spaceBetween: 0,
            }
        }
    });
//产品筛选
function dj() {
	var id_a = document.getElementsByName('check1');
	var id_b = document.getElementsByName('check2');
	var id_c = document.getElementsByName('check3');
	var size = new Array();
	for(var i = 0; i < id_a.length; i++) {
		if(id_a[i].checked)
			size.push(id_a[i].value);
	}
	var platform = new Array();
	for(var i = 0; i < id_b.length; i++) {
		if(id_b[i].checked)
			platform.push(id_b[i].value);
	}
	var func = new Array();
	for(var i = 0; i < id_c.length; i++) {
		if(id_c[i].checked)
			func.push(id_c[i].value);
	}
	$.ajax({
			type:'POST',
			url:" ",
			dataType:'text',
			data:{'size':size,'platform':platform,'func':func,'csrfmiddlewaretoken':"{{ csrf_token }}"},
			success:function(data){
			console.log(data);
			//先清空页面
			document.getElementById('list_p').innerHTML="";
			$.each($.parseJSON(data), function(index,item) {
			    var  img_src=String("/media/"+item["imgs"]);
			    //重新填充页面
                document.getElementById('list_p').insertAdjacentHTML('beforeend','<li class="productlist col-lg-4 col-md-4 col-sm-6 " id="whole"><a href="javascript:none"><img src='+img_src+'><h3>'+item["name"]+'</h3><p>'+item["details"]+'</p></a></li>');
					});
				}
		  });
		  }
</script>


</html>
