{% extends "./base.html" %}
<!--头部导航end} -->
<!--头部导航end} -->
{% block content %}

<!--头部导航end} -->
<!--头部导航end} -->
<div class="Displaybanner">

    <p mod-img="static/upload/chanpinbanner/222.jpg" pc-img="static/t/webimages/windex_img37.jpg"><img
            src="static/t/webimages/windex_img37.jpg" alt="联系我们" title="联系我们"/></p>

</div>
<
<div class="commonclass">
    <div class="commonweb">
        <h3>公司简介</h3>
        <ul class="clearfix">

            <li><a href="/profile" id="_menutwo9">公司简介</a></li>

            <li><a href="/contact" id="_menutwo38">联系我们</a></li>

            <li><a href="/clients" id="_menutwo14">合作客户</a></li>

            <li><a href="/feedback" id="_menutwo15">在线留言</a></li>


        </ul>
        <script>
                $("#_menutwo14").addClass("cur");

        </script>
    </div>
</div>
<div class="commonweb">
    <div class="title visible-lg">
        合作客户
        <span class="hidden-sm">
                <a href="/">首页</a> >

            <a href="/profile">关于我们</a> >
            <a href="javascript:;" class="on">合作客户</a>
            </span>
    </div>
    <div class="wqpcontactUs wqpcommonbg">
        <div class="clearfix">
            <dd class="col-md-6">
                <h3>XXX1电线工业（惠州）有限公司</h3>
                <h4>Huizhou LTK Cable co., LTD</h4>
                <p>XXX集团（以下简称：“XXX”或“集团”）创建于1981年，为全球首家取得 UL RoHS 绿色认证的电缆生产商,
                    专业从事线材产品制造和销售，生产线材种类繁多，当中包括电器配线、无卤电线、高速平行对线、同轴线、电源线、新能源电线等，
                    产品广泛应用于消费电子设备如智能手机、平板电脑、数码广播系统、通信设备、汽车设备、工业自动化、新能源发电等领域。</p>
            </dd>
        </div>
    </div>
</div>
<!--页脚end-->
{% endblock %}
