{% extends "./base.html" %}
<!--头部导航end} -->
<!--头部导航end} -->
{% block content %}
<div id="focus" class="focus">
    <div class="hd">
        <ul></ul>
    </div>
    <div class="bd index-banner">
        <ul>
            {% for img in main_img %}
            <li>
                <a href="#">
                    <img src="media/{{img.imgs}}" alt="111" title="111"></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!---banner end--->
<!----content----->
<div class="indexColumnOne scroll">
    <div class="commonweb ColumnOneCon">
        <h3 class="indexColumnTitle">
            <img src="static/t/webimages/windex_img5.png"></h3>
        <div class="ColumnOnenav">
            <a href="javascript:;">加固手持系列</a>
            <a href="javascript:;">加固平板系列</a>
            <a href="javascript:;">加固笔记本系列</a>
            <a href="javascript:;">防爆平板系列</a>
            <a href="javascript:;">其他</a>
        </div>

        <div class="ColumnWraper">
            <div class="indexColumnList swiper-container">
                <ul class="clearfix swiper-wrapper">
                    {% for product in product1 %}
                    <li class="swiper-slide col-lg-3 col-sm-6">
                        <div class="indexproductCon">
                            <a href="#" class="zoom">
                                <img src="media/{{product.imgs}}"></a>
                            <div class="indexPro">
                                <h4 class="wtitle">{{product.name}}</h4>
                                <p class="text">{{product.details}}</p>
                                <p class="more"><a href="/product/1">了解详细</a></p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
                <p class="wbannerbtn wbannerbtn01"></p>
            </div>

            <div class="indexColumnList swiper-container2">
                <ul class="clearfix swiper-wrapper">

                    {% for product in product2 %}
                    <li class="swiper-slide col-lg-3 col-sm-6">
                        <div class="indexproductCon">
                            <a href="#" class="zoom">
                                <img src="media/{{product.imgs}}"></a>
                            <div class="indexPro">
                                <h4 class="wtitle">{{product.name}}</h4>
                                <p class="text">{{product.details}}</p>
                                <p class="more"><a href="/product/2">了解详细</a></p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
                <p class="wbannerbtn wbannerbtn02"></p>
            </div>

            <div class="indexColumnList swiper-container3">
                <ul class="clearfix swiper-wrapper">

                    {% for product in product3 %}
                    <li class="swiper-slide col-lg-3 col-sm-6">
                        <div class="indexproductCon">
                            <a href="#" class="zoom">
                                <img src="media/{{product.imgs}}"></a>
                            <div class="indexPro">
                                <h4 class="wtitle">{{product.name}}</h4>
                                <p class="text">{{product.details}}</p>
                                <p class="more"><a href="/product/3">了解详细</a></p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}


                </ul>
                <p class="wbannerbtn wbannerbtn03"></p>
            </div>
            <div class="indexColumnList swiper-container4">
                <ul class="clearfix swiper-wrapper">
                    {% for product in product4 %}
                    <li class="swiper-slide col-lg-3 col-sm-6">
                        <div class="indexproductCon">
                            <a href="#" class="zoom">
                                <img src="media/{{product.imgs}}"></a>
                            <div class="indexPro">
                                <h4 class="wtitle">{{product.name}}</h4>
                                <p class="text">{{product.details}}</p>
                                <p class="more"><a href="/product/4">了解详细</a></p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
                <p class="wbannerbtn wbannerbtn04"></p>
            </div>
            <div class="indexColumnList swiper-container5">
                <ul class="clearfix swiper-wrapper">
                    {% for product in product5 %}
                    <li class="swiper-slide col-lg-3 col-sm-6">
                        <div class="indexproductCon">
                            <a href="#" class="zoom">
                                <img src="media/{{product.imgs}}"></a>
                            <div class="indexPro">
                                <h4 class="wtitle">{{product.name}}</h4>
                                <p class="text">{{product.details}}</p>
                                <p class="more"><a href="/product/5">了解详细</a></p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <p class="wbannerbtn wbannerbtn05"></p>
            </div>


        </div>
    </div>
</div>


<div class="indexColumnTwo scroll">
    <div class="commonweb ColumnOneCon">
        <h3 class="indexColumnTitle">
            <img src="static/t/webimages/windex_img6.png"></h3>
        <ul class="clearfix ColumnTwoList">

            <li class="col-lg-3 col-sm-6 col-xs-12">
                <div class="wsolutionList">
                    <div class="img">
                        <a href="solution/9e80d8ef-9f28-4aac-8f33-a102682d7800.html" class="zoom">
                            <img src="static/t/webimages/windex_img39.jpg"></a>
                    </div>
                    <div class="indexPro">
                        <h4 class="solutiontitle"><a href="solution/9e80d8ef-9f28-4aac-8f33-a102682d7800.html">新能源汽车线缆解决方案</a>
                        </h4>
                        <p class="text">随着生活水平的提高，汽车在人们生活中已经大量普及，安全成为了购车首选，环保依然成为了时尚，XXX成熟稳定…</p>
                    </div>
                </div>
            </li>

            <li class="col-lg-3 col-sm-6 col-xs-12">
                <div class="wsolutionList">
                    <div class="img">
                        <a href="solution/973f3abb-5a28-430a-8005-65f2384ea40e.html" class="zoom">
                            <img src="static/upload/solution/25.jpg"></a>
                    </div>
                    <div class="indexPro">
                        <h4 class="solutiontitle"><a
                                href="solution/973f3abb-5a28-430a-8005-65f2384ea40e.html">高速线缆解决方案</a></h4>
                        <p class="text">在日益激烈的市场竞争中,大量的集团客户要求升级和构建自己的高速、安全、高效的专用网络，这其中离不开SFP无…</p>
                    </div>
                </div>
            </li>

            <li class="col-lg-3 col-sm-6 col-xs-12">
                <div class="wsolutionList">
                    <div class="img">
                        <a href="solution/825bbe9d-c6ec-44c4-810a-3cbe2cc9d8d0.html" class="zoom">
                            <img src="static/t/webimages/windex_img44.jpg"></a>
                    </div>
                    <div class="indexPro">
                        <h4 class="solutiontitle"><a
                                href="solution/825bbe9d-c6ec-44c4-810a-3cbe2cc9d8d0.html">工业线缆解决方案</a></h4>
                        <p class="text">随着国家十三五规划的出台，工业自动化智能制造被提上日程，也给线缆行业带来了发展机遇，XXX电线高瞻远瞩走…</p>
                    </div>
                </div>
            </li>

            <li class="col-lg-3 col-sm-6 col-xs-12">
                <div class="wsolutionList">
                    <div class="img">
                        <a href="solution/e1545ef5-8983-4240-b9b4-31e16f315546.html" class="zoom">
                            <img src="static/upload/solution/24.jpg"></a>
                    </div>
                    <div class="indexPro">
                        <h4 class="solutiontitle"><a href="solution/e1545ef5-8983-4240-b9b4-31e16f315546.html">多媒体线缆
                            解决方案</a></h4>
                        <p class="text">在如今多元化科技时代里，多媒体应用扮演着相当重要的角色，科技，改变生活，也促使线缆行业更新换代，从传统…</p>
                    </div>
                </div>
            </li>


        </ul>
        <p class="wsolutionMore"><a href="/custom_made">了解更多</a></p>
    </div>
</div>

<div class="indexColumnOne scroll">
    <div class="indexNews commonweb">
        <h3 class="indexColumnTitle">
            <img src="static/t/webimages/windex_img7.png"></h3>
        <div class="indexNewsCon clearfix">
            <div class="indexNewsLeft col-md-8">
                <div class="indexTitle">
                    <a href="/success_case" class="wnewsMore">更多>></a>
                    <p class="wnewsNav"><a href="javascript:;" rel-url="medio/index.html">媒体资讯 </a>|<a
                            href="javascript:;" rel-url="company/index.html"> 最新动态</a></p>
                </div>
                <div class="wnewsWraper">
                    <ul class="indexNewsList">

                        <li class="clearfix">
                            <a href="medio/86AC1A94-27FF-4C29-88CB-C93878D2176B.html">
                                <div class="airtitle">
                                    <h5>全国电动汽车充电基础设施促进联盟成立了</h5>
                                    <p class="t">
                                        在公司产品结构调整和转型升级的重要阶段，为增进同事间的沟通与合作，进一步增强企业凝聚力和战斗力，营造“团结互助、不断创新”的企业文化氛围。人力资源部于6…</p>
                                </div>
                                <div class="date"><em>20</em><span>2016.09</span></div>
                            </a>
                        </li>

                        <li class="clearfix">
                            <a href="medio/FE46D35F-2B8F-408C-B7B6-70C5C32F7353.html">
                                <div class="airtitle">
                                    <h5>HDMI 2.0问世 几大亮点革新助推超高清行业发展</h5>
                                    <p class="t">HDMI
                                        2.0问世几大亮点革新助推超高清行业发展在现在我们身边，不论是电视、电脑还是手机，高清已经成为了不可或缺的组件之一，而高清信号在不同的设备之间传输，就…</p>
                                </div>
                                <div class="date"><em>02</em><span>2015.09</span></div>
                            </a>
                        </li>

                        <li class="clearfix">
                            <a href="medio/0D182170-6B3E-4A35-B873-30FC5CAA713F.html">
                                <div class="airtitle">
                                    <h5>4K势不可挡 两种传输方式升级比较分析</h5>
                                    <p class="t">
                                        3D电视的热潮尚未退去，4K技术就席卷而来。近几年，三星、索尼、LG、海信等厂商已经推出了数十款4K电视产品，其价格也不再像以往那么令人望而却步。市场调研机构N…</p>
                                </div>
                                <div class="date"><em>02</em><span>2015.09</span></div>
                            </a>
                        </li>


                    </ul>
                    <ul class="indexNewsList">

                        <li class="clearfix">
                            <a href="industry/BF0A7366-E5D9-4551-A5A0-3F36104A9710.html">
                                <div class="airtitle">
                                    <h5>EV充电标准统一 今年或冲击70W辆</h5>
                                    <p class="t">
                                        今年1月1日，最新修订的电动汽车充电接口及通信协议等5项国家标准正式实施；去年12月底，国家质检总局、国家标准委也联合国家能源局、工信部、科技部等对外发布了…</p>
                                </div>
                                <div class="date"><em>28</em><span>2016.01</span></div>
                            </a>
                        </li>

                        <li class="clearfix">
                            <a href="industry/D1E58E41-A445-45D8-816C-76F78C311F72.html">
                                <div class="airtitle">
                                    <h5>电动汽车充电接口新标准发布 充电桩将互相兼容 XXX电线 (LTK) 可为您提供优质的充电线缆解决方案！</h5>
                                    <p class="t">
                                        前日（12月28日），国家质检总局、国家标准委联合国家能源局、工信部、科技部等部门，在京发布新修订的电动汽车充电接口及通信协议5项国家标准，新标准将于明年1月…</p>
                                </div>
                                <div class="date"><em>30</em><span>2015.12</span></div>
                            </a>
                        </li>

                        <li class="clearfix">
                            <a href="industry/E8AEF1D1-8A01-4CD8-A306-E3D31651AD83.html">
                                <div class="airtitle">
                                    <h5>以工业机器人为核心的智能制造技术将成为必由之路！</h5>
                                    <p class="t">
                                        今年以来，尽管中国经济面临较大的下行压力，工业经济呈放缓趋势，但中国装备工业整体实力不断提升，尤其是智能制造等高端装备制造业蓄势待发，成为科技与产业融合…</p>
                                </div>
                                <div class="date"><em>29</em><span>2015.09</span></div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="indexNewsRight col-md-4 ">
                <h3 class="wrightTitle">展会信息</h3>

                <a href="exhibition/44a19ed4-da90-498b-b965-60cf7d3244b8.html" class="zoom">
                    <img class="zoomimg" src="static/upload/exhibition/timg.jpg"
                         alt="2017第二届(重庆) 新能源汽车及充电桩技术设备展览会即将开幕，XXX电线诚意邀请您一同参展！"
                         title="2017第二届(重庆) 新能源汽车及充电桩技术设备展览会即将开幕，XXX电线诚意邀请您一同参展！"/></a>
                <h4 class="inTitle"><a href="exhibition/44a19ed4-da90-498b-b965-60cf7d3244b8.html">2017第二届(重庆)
                    新能源汽车及充电桩技术设备展览会即将开幕，XXX电线诚意邀请您一同参展！</a></h4>
                <p>新能源汽车是基于驱动技术的重大升级和转型。是汽车产业应对能源安全、气候变化、环境保护和结构升级的重要突…</p>
                <p class="newsMore"><a href="/success_case">了解更多> </a></p>

            </div>
        </div>
    </div>
</div>
<!--悬浮-->
<div class="rightFixed">
    <ul>
        <li class="li1">
            <a href="javascript:;">
                <span class="inco01 inco"></span>
                <em>产品</em>
            </a>
        </li>
        <li class="li1">
            <a href="javascript:;">
                <span class="inco02 inco"></span>
                <em>定制</em>
            </a>
        </li>
        <li class="li1">
            <a href="javascript:;">
                <span class="inco03 inco"></span>
                <em>案例</em>
            </a>
        </li>
        <li class="li2">
            <a href="javascript:;">
                <span class="inco05 inco"></span>
                <em>TOP</em>
            </a>
        </li>
    </ul>

</div>


<!----content end----->


{% endblock %}
