{% extends "./base.html" %}
<!--头部导航end} -->
<!--头部导航end} -->
{% block content %}
<div class="Displaybanner">

    <p mod-img="static/upload/chanpinbanner/windex_img19.jpg" pc-img="static/t/webimages/windex_img19.jpg"><img
            src="static/t/webimages/windex_img19.jpg" alt="关于我们" title="关于我们"/></p>

</div>
<div class="commonclass">
    <div class="commonweb">
        <h3>公司简介</h3>
        <ul class="clearfix">

            <li><a href="/profile" id="_menutwo9">公司简介</a></li>

            <li><a href="/contact" id="_menutwo38">联系我们</a></li>

            <li><a href="/clients" id="_menutwo14">合作客户</a></li>

            <li><a href="/feedback" id="_menutwo15">在线留言</a></li>


        </ul>
        <script>
                $("#_menutwo9").addClass("cur");

        </script>
    </div>
</div>

<!--content-->

<div class="commonweb jscommonweb">
    <div class="title visible-lg">
        企业简介
        <span class="hidden-sm">
                <a href="/">首页</a> >
            
            <a href="profile">关于我们</a> >
            
            <a href="javascript:;" class="on">公司简介</a>
            </span>
    </div>

    <div class="wCompanyprofile">
        <dl class="clearfix">
            <dt class="col-md-6">
                <img src="static/t/webimages/windex_img25.jpg">
            </dt>
            <dd class="col-md-6">
                <h3>XXX1电线工业（惠州）有限公司</h3>
                <h4>Huizhou LTK Cable co., LTD</h4>
                <p>XXX集团（以下简称：“XXX”或“集团”）创建于1981年，为全球首家取得 UL RoHS 绿色认证的电缆生产商,
                    专业从事线材产品制造和销售，生产线材种类繁多，当中包括电器配线、无卤电线、高速平行对线、同轴线、电源线、新能源电线等，
                    产品广泛应用于消费电子设备如智能手机、平板电脑、数码广播系统、通信设备、汽车设备、工业自动化、新能源发电等领域。</p>
            </dd>
        </dl>
        <div class="wComPanyContent">
            <p>
                集团由多家公司组成，包括：香港XXX国际有限公司，XXX电线工业（惠州）有限公司，惠州XXX电子线缆有限公司，XXX电线工业（金坛）有限公司，XXX电线（重庆）有限公司，大连XXX贸易有限公司。集团隶属于深圳市沃尔核材股份有限公司旗下的全资子公司。</p>
            <p>&nbsp;</p>
            <p>
                集团先后通过ISO9001、ISO14001和TS16949体系认证，技术水平处于世界领先地位；集团产品分别获得UL、PSE、F-Mark、Z-Mark及国家电力工业部电器设备质量检测及国家强制性产品CCC认证，技术水平处于国际先进，国内领先。
                而集团一直以来致力于人类环境的保护。 因而自2001年以来，以直追随着市场上最严格的环保标准去设计我们的产品。至目前为止，我们的产品符合以下产品市场终端客户标准：
                RoHS、REACH、PAHs等法规；任天堂(non-6P)，松下、星电等；同时也取得了SONY GP认证。同时集团的环境有害物质控制可以达到以下标准的限值要求：
                RoHS、6P限值及其它邻苯、PAHs、EN71、REACH-SVHC、 卤素。</p>
            <p>&nbsp;</p>
            <p>对于这些有害物质的控制，集团实施源头与内部控制并重的方法。建立一套完整的系统控制方法对原材料，生产过程进行严格的控制，从而保证产品出厂的合格性，为客户提供更高的保障和信心。
                并通过华为、日本任天堂、索尼公司等用户的检测和使用，其质量稳定、性能可靠，确立“XXX品牌”在线缆界的地位。</p>
            <p>&nbsp;</p>
            <p>集团建立了20多个办事处和海外营销网络，产品远销东南亚、欧美等地区，业绩方面，集团2014年营业额约7.9亿元人民币，并为社会的可持续发展做出贡献，得到社会的广泛认同，先后获得&quot;香港最有价值企业卓越企业大奖
                - 最可信赖电线电缆品牌&quot;、&quot;汇丰营商新动力-钻石奖&quot;、&quot;恒生珠三角环保大奖&quot;、&quot;香港环保卓越计划界别卓越奖 - 制造业金奖&quot;、&quot;5年PLUS商界展关怀&quot;等，对业界及至社会，皆有卓越贡献。</p>
        </div>
        <div class="wComPanyImg clearfix">
            <p class="col-md-3 col-sm-6">
                <img src="static/t/webimages/windex_img26.jpg"></p>
            <p class="col-md-3 col-sm-6">
                <img src="static/t/webimages/windex_img27.jpg"></p>
            <p class="col-md-3 col-sm-6">
                <img src="static/t/webimages/windex_img28.jpg"></p>
            <p class="col-md-3 col-sm-6">
                <img src="static/t/webimages/windex_img29.jpg"></p>
        </div>
    </div>

</div>
<!--content end-->
{% endblock %}

