{% extends "./base.html" %}
{% block content %}
    <div class="Displaybanner">
        
    <p mod-img="static/upload/chanpinbanner/windex_img38.jpg" pc-img="static/t/webimages/windex_img38.jpg"><img src="static/t/webimages/windex_img38.jpg" alt="解决方案" title="解决方案" /></p>
        
    </div>
    <div class="commonclass">
        <div class="commonweb">
            <h3>成功案例</h3>
            <ul class="clearfix">
            </ul>
            <script>
                $("#_menutwo3").addClass("cur");
            </script>
        </div>
    </div>
    <!--content-->
    <div class="commonweb mb60">
        <div class="title visible-lg">
            成功案例
            <span class="hidden-sm">
                <a href="/">首页</a> >
            <a href="javascript:;" class="on">成功案例</a>
            </span>
        </div>
        <div class="solution02 commonSolution wqpcommonbg" id="list">
            
            <dl class="clearfix">
                <dt class="col-sm-6">
                    <span class="arror"></span>
                    <a href="solution-con.html">
                        <img src="static/t/webimages/windex_img39.jpg" alt="新能源汽车线缆解决方案" title="新能源汽车线缆解决方案" /></a>
                </dt>
                <dd class="col-sm-6">
                    <h3>新能源汽车线缆解决方案</h3>
                    <p class="font13">随着生活水平的提高，汽车在人们生活中已经大量普及，安全成为了购车首选，环保依然成为了时尚，XXX成熟稳定的Coaxial Cables、Antenna  Wi…</p>
                    <p class="more"><a href="solution-con.html">查看详情</a></p>
                </dd>
            </dl>
            
            <dl class="clearfix">
                <dt class="col-sm-6">
                    <span class="arror"></span>
                    <a href="solution-con.html">
                        <img src="static/upload/solution/25.jpg" alt="高速线缆解决方案" title="高速线缆解决方案" /></a>
                </dt>
                <dd class="col-sm-6">
                    <h3>高速线缆解决方案</h3>
                    <p class="font13">在日益激烈的市场竞争中,大量的集团客户要求升级和构建自己的高速、安全、高效的专用网络，这其中离不开SFP无源、SFP、QSFP、QSFP-4SFP、QSF…</p>
                    <p class="more"><a href="solution-con.html">查看详情</a></p>
                </dd>
            </dl>
            
            <dl class="clearfix">
                <dt class="col-sm-6">
                    <span class="arror"></span>
                    <a href="solution/825bbe9d-c6ec-44c4-810a-3cbe2cc9d8d0.html">
                        <img src="static/t/webimages/windex_img44.jpg" alt="工业线缆解决方案" title="工业线缆解决方案" /></a>
                </dt>
                <dd class="col-sm-6">
                    <h3>工业线缆解决方案</h3>
                    <p class="font13">随着国家十三五规划的出台，工业自动化智能制造被提上日程，也给线缆行业带来了发展机遇，XXX电线高瞻远瞩走在了行业前列，我们开发的Servo…</p>
                    <p class="more"><a href="solution-con.html">查看详情</a></p>
                </dd>
            </dl>
            
            <dl class="clearfix">
                <dt class="col-sm-6">
                    <span class="arror"></span>
                    <a href="ssolution-con.html">
                        <img src="static/upload/solution/24.jpg" alt="多媒体线缆 解决方案" title="多媒体线缆 解决方案" /></a>
                </dt>
                <dd class="col-sm-6">
                    <h3>多媒体线缆 解决方案</h3>
                    <p class="font13">在如今多元化科技时代里，多媒体应用扮演着相当重要的角色，科技，改变生活，也促使线缆行业更新换代，从传统单根铜芯演变至今的USB 3.1、HD…</p>
                    <p class="more"><a href="solution-con.html">查看详情</a></p>
                </dd>
            </dl>
            
        </div>

        <div class="wpage">
            <a href="javascript:;"></a>
        </div>
        <script src="static/js/loadmore.js"></script>
        <script type="text/javascript">$(function () { $(".wpage").LoadMoreAjax({ totalpage: 1, con: "#list", url: "success_case{page}." }); });</script>
    </div>
    <!--content end-->


<!--页脚end-->
{% endblock %}
