{% extends "./base.html" %}
<!--头部导航end} -->
<!--头部导航end} -->
{% block content %}

<!--头部导航end} -->
<!--头部导航end} -->
<div class="Displaybanner">

    <p mod-img="static/upload/chanpinbanner/cimg06.jpg" pc-img="static/t/webimages/cimg06.jpg"><img
            src="static/t/webimages/cimg06.jpg" alt="技术支持" title="技术支持"/></p>

</div>
<div class="commonclass">
    <div class="commonweb">
        <h3>资料下载</h3>
        <ul class="clearfix">

            <li><a href="/support" id="_menutwo28">产品支持</a></li>

            <li><a href="/download" id="_menutwo29">软件下载</a></li>

            <li><a href="/aft_sale" id="_menutwo30">售后服务</a></li>

            <li><a href="/problems" id="_menutwo31">常见问题</a></li>

        </ul>
            <script>
                $("#_menutwo28).addClass("cur");


            </script>
    </div>
</div>

<div class="commonweb pb40">
    <div class="title visible-lg">
        产品支持
        <span class="hidden-sm">
                <a href="/">首页</a> >

            <a href="/support">服务与支持</a> >

            <a href="javascript:;" class="on">产品支持</a>
            </span>
    </div>
    <div class="commonbg mb40">
        <ul id="list">

            <li class="downloadtwo">
                <a href="upload/technical/download/11.rar">
                    <h3>无卤改性聚苯醚电线系列</h3>
                    <p class="description">Product Catalogue [2.21MB]</p>
                    <p class="time">更新时间：2016.09.19</p>
                    <span>立即下载</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--页脚end-->
{% endblock %}
